@import "../../../global/style.scss";

.techStack_section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .techStack_inner_big {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0 0.4rem 2.2rem 0.4rem;
    padding: 1.6rem;
    @include box_shadow;
    transition: all 0.3s ease;
    .techStack_icon_big {
      height: 3rem;
    }
    span {
      color: $blue_secondary;
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 1.6rem;
      margin-bottom: 0.6rem;
      position: relative;
      &::before {
        content: "";
        background-image: url("../../../assets/icons/arrow-right-more.svg");
        position: absolute;
        right: -0.3rem;
        // z-index: 7;
        opacity: 0;
        width: 1.5rem;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        top: 0;
        transition: all 0.3s ease-in-out;
      }
    }
    small {
      font-size: 1rem;
      font-weight: 400;
    }
    &:hover {
      border: 1px solid $blue;
      span {
        &::before {
          opacity: 1;
          right: -2rem;
        }
      }
    }
  }
  .transparent_border {
    border: 1px solid transparent;
  }
  .techStack_inner_small {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0 0.4rem 1.5rem 0.4rem;
    padding: 0.6rem 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .techStack_icon_small {
      height: 1.4rem;
    }
    p {
      color: $black;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
    }
  }
}

/* ******************************* */
/* ******** MEDIA QUERIES ******** */
/* ******************************* */

/* -------- xsm -------- */
@media (max-width: 575.98px) {
  .techStack_section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
/* -------- sm -------- */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* -------- md -------- */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* -------- l -------- */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* -------- xl -------- */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}
/* -------- xxl -------- */
@media (min-width: 1400px) {
}
